# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
*.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.obj
*.pch
*.lastbuildstate
*.tlog
*.pdb
*.cache
*.deps
*.cache
*.dll
*.lib
*.ilk
*.exp
*.exe
*.mexw64
*.htm
*.jar
*.jar
*.class
*.cache
*.idb
*.ipdb
*.iobj
*.xml
*.pchast
*.lastcodeanalysissucceeded
